
.display-overlay{
    background: url('../../../images/kitchen.jpg') center/cover;
    background-attachment: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
    min-height: 100vh;
}

.display-h2{
    margin-top: 25px;
  color:black;
 
  


}
.display-recipe{
    color:black;
    padding: 10px;
    font-size:30px;
    font-family:Georgia, 'Times New Roman', Times, serif
    

}
.display-recipebox{
    position: relative;
    height: auto;
    font-size: 24px;
    padding: 5px;
    background-color: rgb(55, 133, 138,0.67);
    border-radius: 10px;
    border-bottom: 4px solid #c0c0c0;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}
.display-ingredient{
    color:black;
    padding: 5px;
    outline-style:auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 120px;
    padding-right: 500px;
}
.display-number{
    color:black;
    outline-style:auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.display-body{
    margin-top: 20px;
    background-color:white;
    
    text-align: center;
    padding: 30px;
    width: 900px;
    margin-left: 250px;
    padding-right: 2em;
    border-radius: 10px;
    border: 4px solid #c0c0c0;
}
.display-info{
    position: relative;
    height: auto;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(141, 117, 183, 0.67);
    border-radius: 10px;
    border-bottom: 4px solid #c0c0c0;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.submit-btn1{
    padding:7px;
    top:80%;
    left:46.5%;
    width:100px;
    height:44px;
    position: absolute;
    z-index: 2;
    background: rgb(80, 194, 80);
    border-radius: 25px;
   
}
