.createPantryPage{
    background: url('../../../images/img18.jpeg') center/cover;
    background-attachment: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
    min-height: 100vh;
} 
.table-container{
    margin-top: 20px;
    background-color:white;
    
    padding: 30px;
    width: 1000px;
    margin-left: auto;
    margin-right:auto;
    padding-right: 2em;
    border-radius: 10px;
}
.pantryPage{
    border: 1px;
    margin: 50px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: rgb(11, 119, 119);
    font-weight: 500;
    font-size: 18px;
    font-family: "Lucida Console", "Monaco", monospace;
}
.pantryPage.label{
    border: 20 px;
    border-radius: 10px;
}

.listElements{
    font-size: 20px;
    font-weight: bold;
    color:rgb(11, 119, 119);
    border: 2px;
    padding : 2px;
    margin: 1px;
}
input{
    font-size:22px;
    font-weight: 300;
    color:black;
    background-color: rgb(247, 247, 247);
}
h2.yourPantry{
       margin: 0;
       padding:10 10 20px;
       text-align:center;
       font-size:70px;
       font-weight: bold;
       font-style: italic;
       color:rgb(247, 160, 160)
}
table.Pantry{
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    width: 600px;
    left: 500%;
    text-align:center;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(255, 255, 255);

}
th.Pantry{
    padding:10px;
    margin: 2px;
    text-align:center;
    box-shadow: rgb(19, 126, 55);
    border-radius: 10px;
}
td.Pantry{
    margin: 2px;
    padding: 2px;
    border:none;
    border-bottom: 3px solid rgb(14, 171, 211);
    background: transparent;
    outline:none;
    height: 40px;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}
td.Ingr-table{
    margin-left: 1000px;
}