.search-overlay {
  background: url('../../../images/img17.jpg') center/cover;
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 140vh;
  position: relative;
} */
.item{
  background: linear-gradient(90deg,rgb(110,158,106) 0%,rgba(110,158,106, 0.8) 0% );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.search_grid{

    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(3, 1fr);
    
    grid-auto-rows: 90px;
    grid-auto-flow: row dense;
    width: 80%;
    margin: 30px auto;
    margin-left: auto;
    margin-right: auto;
    
  
  
}


.bloc-tabs {
  top:30%;
  position: relative;
  left: 600px;
  margin: auto;
 

 

}

.tabs {

  padding: 15px;
  text-align: center;
  width: 70%;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  background-color: #bdd4e7;
  display: block;
  color: rgb(101, 46, 138);

  

 

}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);

}

.active-tabs  {
  background-color: #b3cdd1;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  left: 60%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);

}



button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
  margin-left: 300px;
  margin-right: 300px
}
.content {
  background: white;
  position: center;
  padding: 20px;
  width: 80%;
  height: 80%;
  padding: 30px;
  right: 50%;
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2em;
  outline-style: outset;
  
}
.content h2 {
  padding: 5px 0 5px 5px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
  left: 50%;
}
.active-content {
  display: block;
}

.display-btn{
  padding:7px;
  top:55%;
  left:38%;
  width:100px;
  height:44px;
  position: absolute;
  z-index: 2;
  background: orange;
  border-radius: 25px;


  
  
}
.display-btn:hover {
  color: rgb(238, 238, 238);
}
.submit-btn{
  padding:7px;
  top:50%;
  left:38%;
  width:100px;
  height:44px;
  position: absolute;
  z-index: 2;
  background: rgb(80, 194, 80);
  border-radius: 25px;


  
  
}
.submit-btn:hover {
  color: rgb(238, 238, 238);
}

/* Style the search field */



form.search::after {
  content: "";
  clear: both;
  display: table;
}

