*{
  background-color: rgba(0,0,0,0);
}

.createRecipePage {
  background: url('../../../images/img17.jpg') center/cover;
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: auto;
  min-height: 100vh;
}

.recipePage {
  background-color: white;
  border-radius: 25px;
  margin: 100px;
  height: auto;
  min-height: 78vh;
}

.recipeForm {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 70vh;
}

.recipeTitle{
  position: relative;
  border-radius: 20px;
  border: 2px solid black;
  width: 90%;
  height: 150px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0);
  background-color: #BFDED8;
}

.recipeName{
  font-size: 48px;
  position: relative;
  width: 80%;
  margin: 20px 0px 0px 50px;
  background-color: rgba(0,0,0,0);
  border: none;
}

.recipeTag{
  position: relative;
  height: auto;
  font-size: 24px;
  padding: 5px;
  color: rgb(100, 98, 98);
  background-color: rgba(0,0,0,0);
  margin: 5px 0px 0px 50px;
}

.recipeLabels{
  position: relative;
  display: inline-flex;
  align-items: center;
  left: 5%;
  transform: translateY(15%);
  background-color: rgba(0,0,0,0);
}

.recipeLabel > .recipeTag{
  display: inline-flex;
  align-items: center;
  background-color: rgba(0,0,0,0);
}

.recipeTag > img{
  padding: 0 5px 0 0;
}

.inputRecipeTag {
  background-color: rgba(0,0,0,0);
  border: none;
  margin: 0 0 0 10px;
  outline: none;
  font-size: 20px;
  font-family: "Oswald";
  resize: horizontal;
  width: 200px;
}

.inputRecipeTag[type="image"]{
  width: auto;
}

.inputRecipeTag:active {
  width: auto;
}

.listElements {
  margin: 0px 0 0 40px;
  font-size: 20px;
}

.recipeText{
  margin: 20px 0 0 10px;
}

#ingredientsBox > ul > li > input {
  width: 150px;
}

.instructionsBoxArea{
  position: flex;
	width: 99%;
	height: auto;
  min-height: 40vh;
	border: 3px solid #cccccc;
}

.saveRecipe{ 
  display: inline-block;
  position: relative;
  background-color: #BFDED8;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0px 20px 0px 0px;
}