
.overlay-home {
    background: url('../../../../images/img2.jpg') center/cover ;
  }
  
  h1.title2{
    color: #5aacc0;
    font-size:400px;
    top: 40%;
    right: 50%;
  }
  .intro-home {
    height: 145vh;
    padding: 280px;
    padding-top: 15%;
    padding-left: 35%;
  
  }
  
  .content-home {
    display: table-cell;
    vertical-align: middle;
    z-index: 100;
    color: var(--mainwhite);
    font-size: 1.5rem;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    background: rgb(206, 206, 206,0.85);
    border-radius: 25px;
    top: 40%;
    right: 50%;
  }
  
  .content-home h1 {

    
    padding-bottom: 8px;
    font-size: 50px;
    line-height: 250px;
    text-align: center;
  }
  
  .intro .content h4 {
    padding-bottom: 80px;
    text-align: center;
    background-color: #dfddd6;
  }

  
  