.signin-overlay {
    background: url('../../../../images/img16.jpg') center/cover;
    background-attachment: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
  }
/*Login*/
.login-box{
    width: 400px;
    height: 500px;
    background:#000;
    color:#fff;
    top: 40%;
    left: 50%;
    position:relative;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius:10px;
     }
    
     .login-box .person {
       width: 50px;
       height: 50px;
       background:#fb2525; 
       border-radius: 50%;
       position:relative;
       top: -10px;
       margin-left: 35%;
       margin-right: 30%;
     }
     h1{
       margin: 0;
       padding:0 0 20px;
       text-align:center;
       font-size:22px;
       color:#fff
     }
     .login-box p{
       margin: 0;
       padding: 0;
       font-weight: bold;
       color:#fff
     }
     .login-box input{
       width: 100%;
       margin-bottom: 20px;
       padding: 2px;
     }
     .login-box input[type="email"], input[type="password"]
     {
       border:none;
       border-bottom: 2px solid #fff;
       background: transparent;
       outline:none;
       height: 40px;
       color:#fff;
       font-size: 16px;
  
     }
     .login-box input[type="submit"]{
       border:none;
       outline:none;
       background: #fb2525;
       color: #fff;
       font-size:18px;
       border-radius: 40px;
     }
  
     .login-box input[type="submit"]:hover{
       cursor:pointer;
       background: #ffc107;
       color: #000;
     }
   
  