/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  background: rgba(176, 196, 211, 0.671);

  z-index: 2;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: #84D49F;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  margin: 15px;
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: rgb(0, 0, 0);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--main-font);
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: rgb(238, 238, 238);
}

@media screen and (min-width: 300px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width:  100%;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 24em;
    padding: 2.3rem 7rem;
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */


