.NavbarChild{
    background: rgba(176, 196, 211, 0.671);
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.fa-react{
    margin-left: 0.5rem;
    font-size:   1.6rem;
}
.nav-logo{
    color:#ffff;
    justify-self: start;
    border-top: 10px;
    margin-left: 20px;
    cursor:pointer;
}
h1.navbar-logo {
    margin-top: 20px;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:10px;
    list-style:none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right:2rem;
}
